.link_to {
    width: 100%;

}

.al {

    padding: 30px;
    width: 100%;


    .user-info-row {

        height: 50;
        padding: 0.1rem 0 1rem;
        color: #8b8b8b;

        .user_name {
            margin-left: 5px;
        }
    }

    .fav-row {
        height: 50;
        padding: 0.1rem 0 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: #333;
    }

    .title {
        width: 100%;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.3;
        font-weight: 600;
        word-break: break-word;
        word-wrap: break-word;
        letter-spacing: .04rem;
    }

    .title:hover {
        color: #007fff;
    }

    .introduce {
        width: 100%;
        line-height: 1.5;
        letter-spacing: .02rem;
        color: #8b8b8b;
        // cursor: pointer;
        overflow: hidden;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .comment {
        width: 100%;
        line-height: 1.5;
        letter-spacing: .02rem;
        color: #333;
        // cursor: pointer;
        overflow: hidden;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

}