$browser-default-font-size: 16px !default; //变量的值可以根据自己需求定义

html {
    font-size: $browser-default-font-size;
}

@function pxTorem($px) {
    //$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}


.content {
    // margin: 20px 20px 0 15vw;
    // margin-left: 150px;
    margin-right: 20px;
    margin-top: 20px;
    width: 700px;
    min-height: 80vh;
    background-color: white;

    .ant-list-item {
        // padding: 0px !important;
    }
}

.ant-layout-content {
    background-color: white;
}


.ant-popover-inner-content {
    height: 170px;
    width: 260px;
    padding: 0px !important;
    // padding: 16px;
    background-color: white;

    .author-box {
        padding: 16px;

        .author_card {
            display: flex;
            justify-content: space-between;

            .author_info {
                width: 150px;

                .user_name {
                    display: inline-block;
                    // width: 150px;
                    height: 20px;
                    font-size: 13px;
                    line-height: 1.2;
                    font-weight: 500;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #333;
                }

                .user_disc {
                    margin-top: 18px;
                    font-size: 12px;
                    line-height: 1.2;
                    color: #8f969c;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }


            }

        }

        .meta-row {
            width: 233px;
            display: flex;
            margin-top: 18px;

            .count {
                width: 30px;
                font-size: 15px;
                font-weight: 600;
                color: #17181a;
            }

            .title {
                width: 40px;
                margin-top: 5px;
                font-size: 13px;
                color: #8f969c;
            }

            .follow_btn {
                margin-top: 5px;
                margin-left: 60px;
            }


        }
    }



}