 .register-form {
     //  padding: 16px;
     background-color: white;
     max-width: 300px;

     .register-title {
         // margin: 0 auto;
         text-align: center;
     }

     .register-form-button {
         width: 100%;
     }
 }