.sider {
    margin-top: 20px;
    background-color: #f0f2f5;

    // width: 400px;
    .register {
        width: 240px;
        background-color: white;
        padding: 16px 16px 5px 16px;

        .register-title {
            text-align: center;
        }

    }
}