.fav-content {
    margin: 0 auto;
    background-color: white;

    .fav-banner {
        width: 100%;
        height: 186px;
        background-color: #40a9ff;
    }

    .fav-list {
        width: 960px;
    }
}